html {
    font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Roboto Condensed', sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color:white;
  }
h1 {
    font-size: 40px;
    text-align: center;
  }
img.center {
    display: inline-block;
    margin: 0 auto;
  }